
@{
    Layout = "";
}
<head>
    <title>Go-Ahead London</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../Content/styles.css" />
    <link href="~/Images/" />
</head>

<body>

    <div class="container">
        <div class="row">
            <img src="../Images/goheadlondon.jfif" class="main-img" />
        </div>
        <div class="row">
            <div class="col-12 br-clr">
                <img src="../Images/golondon.png" class="logo" />
            </div>
        </div>

        <div class="row rw-ht br-clr2 bd">
            <div class="col-md-6 data md-ht">
                <div class="col-md-2 col-lg-2 data"><i class="fa fa-clock-o"></i></div>
                <div class="col-md-10 col-lg-10 mb">
                    <strong>Shift Begins at 8:30 PM</strong><br />
                    <small>Waterloo Garge - Route 521</small><br />
                    <button class="btn btn-primary clock-in">Clock in</button>
                </div>
            </div>
            <div class="col-md-6 data md-ht">
                <div class="col-md-2 col-lg-2 data">
                    <img src="../Images/usericon.png" class='user-icon' alt="user" /></i>
                </div>
                <div class="col-md-10 col-lg-10 mb">
                    <strong><span class="text-danger"></span> Babek mentioned you</strong><br />            <small>Waterloo Garge</small><br />
                    <small>I can get on a board with that! Thanks for ...</small>
                </div>
            </div>
        </div>

        <div class="row bd"><div class="QL">News</div></div>

        <div class="row rw-ht2 bd">
            <div class="col-md-6 data">
                <div class="col-md-2 col-lg-2 data">
                    <img src="../Images/news.png" class="news" alt="news" />
                </div>
                <div class="col-md-10 col-lg-10 mb line-ht">
                    <strong>Road clousres</strong><br />
                    <small>Road closure expected.Routes effected are 21,36,521</small>
                </div>
            </div>
            <div class="col-md-6 data">
                <div class="col-md-2 col-lg-2 data">
                    <img src="../Images/news.png" class="news" alt="news" />
                </div>
                <div class="col-md-10 col-lg-10 mb line-ht">
                    <strong>New buses in!</strong><br />
                    <small>
                        New buses are in - come and check time out at out launch day
                        in..
                    </small>
                </div>
            </div>
        </div>

        <div class="row"><div class="QL">Quick Links</div></div>
        <div class="row links">
            <button class="btn btn-info btn-sm">OARS</button>
            <button class="btn btn-info btn-sm">Mix</button>
            <button class="btn btn-info btn-sm">Forms</button>
            <button class="btn btn-info btn-sm">Payslips</button>
            <button class="btn btn-info btn-sm">Benefits</button>
            <button class="btn btn-info btn-sm">Vacancies</button>
        </div>
    </div>
</body>
